<form method="post" action="{{ path('profile_delete', {'id': profile.id}) }}" onsubmit="return confirm('Etes-vus sûr de supprimer ce personnage ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
