<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-5">
    <a class="navbar-brand" href="{{ path('home')}}">Accueil</a>
    <ul class="navbar-nav mr-auto">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-link">
                <a class="nav-item" href="{{ path('app_register') }}">S'inscrire</a>
            </li>
            <li class="nav-link">
                <a class="nav-item" href="{{ path('app_login') }}">Login</a>
            </li>
        {% else %}
            <li class="nav-link">
                <a class="nav-item" href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>